
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
section{
    display: flex;
}
/* section-1 */
h1{
font-size: 50px;
}
.span{
    color:orange;
}

.half-width{
    width: 50%;
   padding: 5%;
  }
  .half-width img{
      width: 60%;
  
     
     
  }
  .acnchor-tag{
      text-decoration: none;
      background: linear-gradient(orange,tomato);
      padding: 10px 40px;
      color: #ddd;
      border-width: 700;
    border-radius: 8px;
  
  }
  